[2018-09-27 16:58] iamtesch opened #5 "Resize behavior is unexpected (at least on Linux)"
You can resize the GUI window, but content is cut off and you can't scroll to access it.

[2018-09-27 17:10] ennerf opened #8 "Dashboard: add graphics"
currently the dashboard graphic is hardcoded to be an X5 wire-frame. We should add X8, the IO-Board, and maybe phone renderings

[2018-09-27 18:15] ennerf opened #9 "Translation"
remove unimplemented options or implement them :)

[2018-09-28 00:22] daverolli opened #17 "Show App Version somewhere in App"
It would be nice to be able to tell what version you're running.  Maybe on the Window pane?

[2018-09-28 00:23] daverolli opened #18 "Add version number to app 'Properties' in Windows Explorer"
Maybe this is already fixed.  In recent packaged versions on Windows there was no version number under Properities->Details.  macOS version is listed on 'Get Info'

[2018-09-28 00:33] daverolli opened #22 "Mouse-over help on certain UI elements"
Some of the buttons would benefit from those little annotations that pop up when you pause the mouse over the element.  Particularly, the little symbols (target, writing thing, refresh).

[2018-09-28 00:36] daverolli opened #24 "Add ability to plot other feedback fields"
If there were some drop-down or write-in option for getting plots that aren't currently on the pane.

[2018-09-28 00:37] daverolli opened #25 "Multiple modules on a single plot when multi-selected"
Have some some option for doing this vs individual plots like we do now.  Might help on Linux too where things crawl under multiple plots.

[2018-09-28 00:54] daverolli opened #26 "On Dashboard, make some elements faded if module is offline"
The 'stale' status is good, but maybe greying the word stale and states in the 'Status' box would make it more clear at a glance that you've shifted over to a module that isn't active.

[2018-09-28 01:17] daverolli opened #27 "Highlighting Obscures Name in Main Panel"
When you highlight the text, the background highlight pretty much obscures the text.  The 'Family' name  font color inverts to white, which would probably be a good thing to do for 'Name'.

[2018-09-29 13:00] ennerf opened #29 "Fix interface refresh"
refreshing interfaces after adding an additional adapter does not immediately send to all interfaces. If another interface is selected and then reverted to "ALL", it'll work.

[2018-10-11 18:26] iamtesch opened #31 "Cannot drag any part of window past the screen edge"
Tested: Ubuntu 16.04

I can drag around and resize the main scope window, but cannot drag it so that some of it "hangs off" the screen.  The full extent of the UI always must be contained within the boundaries of the screen.

[2018-10-11 18:28] iamtesch opened #32 "slider frequency direction"
For the lookup and feedback frequency, slower is towards the left and faster it towards the right.  This seems counterintuitive, at least to me.

Thoughts from others?

[2018-10-22 13:04] ennerf commented on #31
![image](https://user-images.githubusercontent.com/5491587/47293898-c3a2a280-d60b-11e8-9262-58fff82a61f7.png)

Can't reproduce. Is this still an issue after the change to the default system border?

[2018-10-22 13:16] ennerf commented on #32
Changed

[2018-10-22 13:16] #32 closed

[2018-10-22 13:19] ennerf commented on #17
![image](https://user-images.githubusercontent.com/5491587/47294598-dcac5300-d60d-11e8-96d8-29f31ec55872.png)

Added to title bar. May be better in top/left corner, but for now that should be visible enough.

[2018-10-22 13:19] #17 closed

[2018-10-22 13:20] ennerf commented on #29
fixed in develop branch

[2018-10-22 13:20] #29 closed

[2018-10-22 13:22] ennerf commented on #18
I added all fields that are available to me. I'm not sure what that "File Version" really shows, but there doesn't seem to be a way for met to set it.

[2018-10-22 13:56] ennerf opened #33 "Add Switch to force Software Rendering"
Add a switch to settings to force software rendering mode. Linux currently defaults to SW rendering due to a bug/memory-leak in MESA 11 (OpenGL library), but recent versions of Ubuntu 16.04.4 and 18.04. may not have that issue anymore.

It'd be good to make the default run with hw acceleration, but there should still be a fallback in case users run an older versions of Linux.

[2018-10-22 15:18] ennerf commented on #33
More information on the issue
https://stackoverflow.com/a/40239829/3574093

Updating Mesa
https://www.omgubuntu.co.uk/2017/11/install-mesa-17-2-ubuntu

[2018-10-22 15:46] ennerf commented on #9
Hidden for now

[2018-10-22 15:46] #9 closed

[2018-10-23 08:50] ennerf commented on #5
fixed

[2018-10-23 08:50] #5 closed

[2018-10-23 12:57] #33 closed, assigned to nobody

[2018-10-23 14:25] daverolli commented on #17
FWIW I looked all over the place in MacOS and Windows, and didn't notice it was in the title bar until I looked up the issue.

[2018-10-23 14:30] daverolli commented on #18
Is this really closed?  Every other app in Windows shows some combo of Product Name / Product Version / File Version.  It's good that we have the version visible at least in the app header, but to me this issue is still open.

[2018-10-23 14:56] daverolli opened #34 "When closing a plot window, the button of the last-clicked plot gets highlighted."

[2018-10-23 14:58] daverolli commented on #34
Happens in Windows 10 Pro and macOS Mojave.

[2018-10-23 14:58] ennerf commented on #34
Which OS ? Can't reproduce on Windows.

[2018-10-23 15:00] daverolli commented on #34
When selecting multiple modules and plotting the button doesn't highlight until you close the last plot window.  Again same behavior on Mac / Windows.

[2018-10-23 15:05] ennerf commented on #34
Thanks. Fixed.

[2018-10-23 15:05] #34 closed, assigned to daverolli, ennerf

[2018-10-23 15:09] daverolli opened #35 "Reduce time to open the first plot"
In macOS when clicking a plot button for the first time there is a ~2 second hang before the plot pops up.  There is no animation from the mouse-click so it looks like the app is hanging.  It was long enough for the OSU guys to notice when doing a live demo.

On windows the stutter is much shorter, and there's a partial animation that makes it clear the click was received.

[2018-10-23 15:14] daverolli opened #36 "Developer signing / Connection warning on startup"
On macOS there is a warning dialog that pops up every time asking if you want the app to allow incoming connections.  I've tried adding the app to the 'allowed apps' section in Firewall Settings, but this still persists.

I'm assuming this is also tied to another issue where after downloading you can't double-click to open the app in macOS.  Instead you have to right-click, open, then click thru a

[2018-10-23 15:19] ennerf commented on #18
The executable is generated by the packager, so it's outside my control. I am already setting all `vendor` etc. options that I found, but none of those seem to set the explorer properties. I couldn't find anything else in the [available API](https://docs.oracle.com/javase/8/docs/technotes/tools/windows/javapackager.html).

I did try https://stackoverflow.com/questions/284258/how-do-i-set-the-versi

[2018-10-23 15:25] ennerf commented on #18
It may also be possible to do this via an Installer. Would it be worth setting that up?

[2018-10-23 15:33] ennerf commented on #36
I've looked at this a bit before. Below are some notes for my own future reference:

There are two different types of `Code Signing Certificates` for Windows. We'd need the `OV`. Some certificates seem to also support other operating systems. Below are some certified vendors that sell them (see also [Microsoft](https://docs.microsoft.com/en-us/windows-hardware/drivers/dashboard/get-a-code-signing-

[2018-10-23 15:36] ennerf commented on #35
Future note: There is also a ~2 second hang the first time someone enters a bad value into a text field, e.g., gains. Pre-Initializing without rendering didn't work, and initializing while rendering added 2 seconds to the startup, which was even worse.

[2018-10-23 16:10] iamtesch commented on #31
works for me now.

[2018-10-23 16:10] #31 closed

[2018-10-23 16:16] iamtesch opened #37 "Right click menu on multiple monitors (Windows 10)"
When I right click a module, text field, or other on Windows 10, the right click menu appears at a completely different location than my cursor.

This issue also existed in the pre-redesign scope, and I've added screenshots/etc there.

[2018-10-23 16:17] daverolli commented on #18
I don't think it needs to get fixed right away, but it is still an open issue, even if it can't be easily solved in the near term.

[2018-10-23 16:21] iamtesch opened #38 "hardware rendering on linux"
I may be getting the general description wrong here, but there is a bug in the software rendering on Linux that causes a significant memory leak.  This was fixed on the previous version of scope, but I don't think has been addressed on the redesign yet.

I wouldn't necessarily consider this a blocker for an initial release, but this is something that should be highest priority after initial releas

[2018-10-23 16:27] daverolli opened #39 "Have buttons at the top of gains tab stay visible when scrolling down."
When the advanced gains are shown, the screen is a bit too much to fit on a laptop monitor.  So when you're adjusting things like lowpass at the bottom of the list you have scroll back up to click 'send'.  On Scope <0.13 things were just tight enough to fit without scrolling.

[2018-10-23 16:33] ennerf commented on #38
![image](https://user-images.githubusercontent.com/5491587/47376074-0474e700-d6f2-11e8-8b37-a56fb5053d5f.png)

There is a switch in the settings that allows users to turn on software rendering if they have an old Mesa3D version that causes the memory leak.

[2018-10-23 16:38] daverolli commented on #39
Don't think this is really necessary on the other tabs.  Gains is the only one where the typical workflow is 'something at the bottom' then 'something at the top'.

[2018-10-23 16:44] ennerf commented on #38
The bug was in Linux' OpenGL drivers `Mesa3D`. The bug was supposedly fixed in versions that ship with Ubuntu 16.04 update 4 as well as 18.04

[2018-10-23 16:44] #38 closed, assigned to ennerf

[2018-10-23 16:47] ennerf commented on #37
Yes, I still have never been able to reproduce it. Are you running multiple monitors with different resolutions and DPI settings? Mine are always the same, so that might be where the issue is coming from.

[2018-10-23 16:49] ennerf commented on #39
That sounds like a good idea

Additional thought, do you want a keyboard shortcut for `send` ?

[2018-10-23 16:50] daverolli commented on #39
oooh.  A keyboard shortcut might be nice.

[2018-10-23 16:58] ennerf commented on #39
what key combo do you want it to be?

[2018-10-23 16:59] daverolli commented on #39
Maybe cmd+S?  That might be a bit weird.

Maybe cmd+F/G/H?

[2018-10-23 17:13] ennerf commented on #39
How about:

* `ctrl+s` -> save
* `ctrl+d` -> clear
* `ctrl+f` -> send
* `ctrl+g` -> load default gains

[2018-10-23 17:24] daverolli opened #40 "File name for packaged macOS version says OSX."
Really minor, but just wanted to make a note of it.

[2018-10-23 23:52] rLinks234 commented on #18
It looks like javapackager uses a small [launcher exe](https://github.com/teamfx/openjfx-8u-dev-rt/blob/master/modules/fxpackager/src/main/native/launcher/win/WinLauncher.cpp) which hooks into `libpackager.so`/`packager.dll` to init the JVM using JNI. It _could_ be as simple as recompiling that single file in a visual studio project while providing the version info

[2018-10-24 00:40] daverolli opened #41 "Text flows off Welcome Panel on smaller screens."
On smaller screen sizes the text flows off the bottom (see image below).  Probably can fix by making text smaller or by adding a scroll bar at the side like the other panels.

![](https://user-images.githubusercontent.com/20071378/47396359-3af53680-d6df-11e8-90f0-4a4a4984dfbd.png)

[2018-10-24 00:49] daverolli opened #42 "Save or convert log files to formats other than .hebilog, particularly CSV."
Scope currently only saves `.hebilog` files, which can be loaded in APIs, but isn't compatible with other tools.  CSV conversion would a good addition and would hit all spreadsheet/plotting tools like GSheets / Excel.

[2018-10-24 12:26] ennerf commented on #42
We were planning on making a separate tool that can work with log files and provide plots and conversions to various formats. Should this be part of Scope instead?

[2018-10-24 12:29] ennerf opened #43 "Set-IP dialog on right click menu does not render centered"
It renders centered on the main monitor. Should be rendered centered on the app.

[2018-10-24 13:24] rLinks234 commented on #42
Honestly, I'd be inclined to say that we should add this to our APIs

[2018-10-25 10:48] ennerf opened #44 "Upgrade to Java 11"
**Benefits**

* Smaller binary size due to modularization in Java9. Should reduce binary size from ~80MB to somewhere between 15-25MB
* Various bugfixes in JavaFX. I don't think there is anything major though that is currently an issue for us. (The Linux [native memory leak](https://stackoverflow.com/a/40239829/3574093) seems to only depend on the `Mesa3D` library)
* Java 11 moved JavaFX into a se

[2018-10-25 11:12] ennerf opened #45 "Change plotting framework"
Currently, we are using [JChart2d](http://jchart2d.sourceforge.net/), which is based on the pretty much deprecated Java Swing UI toolkit. It doesn't support things like DPI scaling, but it's so far the only plotting library I found specifically for plotting `real-time` data. That being said, it still has some allocations.

At some point it'd be nice if we could create a custom real-time plotting l

[2018-10-25 19:47] rLinks234 commented on #45
The best way to do this is interface directly with vertex buffers, unfortunately. The best way I've been able to achieve this is using OpenGL and D3D directly, which isn't very user friendly. Most libraries which provide a user friendly wrapper around these APIs are in C and C++

[2018-10-25 20:01] ennerf commented on #45
The performance of the JavaFX renderer should be fine for this. Working with `JOGL` is a bit of a pain, and D3D probably isn't any better. I also still want to keep the ability to style it via CSS.

My issue with the provided JavaFX plotting libraries is just that they use a list of point objects of `Double` values, i.e., the boxed type. The allocation rate makes it unusable for displaying live da

[2018-10-25 20:52] rLinks234 commented on #45
Your best bet here is to use something analogous to a SurfaceView + Canvas (hardware accelerated surface) in a view which provides styling using CSS.

I've gone down this road before and know from looking at the source code that basically all common drawing APIs (e.g., Canvas) are not designed around displaying streamed data. They normally dispose of your tesellated line vertices (they get transfo

[2018-10-26 15:54] ennerf opened #46 "Set slider target doesn't send command"
From @iamtesch

I just found an interesting bug that I can repro on scope on my linux machine.  Want to make sure I'm not missing something before going crazy.
Steps:

1) select a module
2) click the "velocity" checkbox on the monitoring tab.
3) click the "position target" box on the monitoring tab, and set a target (I set one about 3.14 radians away from the current position)

The behavior I get

[2018-10-26 16:12] daverolli opened #47 "Effort slider immediately commands full PWM when selected in DIRECT_PWM"
If you have a module in `DIRECT_PWM` control strategy, checking box to enable the Effort slider immediately commands a PWM of 1.  Once you drag the slider, things work correctly.

[2018-10-26 16:22] daverolli opened #48 "Warning dialog to explain the behavior of multi-select commands"
When checking the box to enable a slider when multiple modules are selected, it might be good to explain the behavior before people start dragging.  Something that notes that modules are currently being commanded to their feedback value but dragging the slider will command all modules to that value, similar to what we do when saving gains.

[2018-10-26 21:29] iamtesch commented on #24
:+1: for motor velocity

[2018-11-02 18:10] daverolli opened #49 "Remember plot PPI settings across restarts"
Generally once you're on a computer, you want a specific PPI.  For example, in my case both my normal computers work best with 100% instead of the default of 150%, so it has to get reset every time the app is launched.  It would be nice the setting remembered where it was set to and used that on the next load.

This might even let us move the PPI selection to the "Settings" menu instead of having

[2018-11-02 18:30] daverolli opened #50 "Permanent hang in macOS when closing multiple windows"
In macOS, if you open multiple plotting windows at once (plotting when modules are multi-selected), and you don't put each one of them into front focus, hitting 'Close All' causes Scope to hang until you force-quit.   If you click on each plotting window so that all of them see front focus at least once this doesn't happen.  If you close the plot windows one at a time, either with the mouse or wit

[2018-11-02 18:56] daverolli commented on #49
Would be good for other things too like what folder you load/save gains from/to.

[2018-11-06 14:54] ennerf commented on #27
was able to reproduce it on Windows. This happens if you're in the Family name field and then press tab. When you use the mouse it works correctly (at least on Windows). Will look into it

[2018-11-08 19:50] curtishebi opened #51 "IP Address is cleared when you select "static" by accident"
IP Address Field does not re-populate if you click "Static" and then go back to "DHCP" without changing the address it clears the address in the firmware. It would be great if there was a "Set" button for this.

[2018-11-08 19:59] ennerf commented on #51
I noticed that as well :( That happens because the firmware reports 0.0.0.0 after setting DHCP mode, so that may require a firmware change.

[2018-11-08 21:23] iamtesch opened #52 ""Advanced" parameters not sent when hidden."
Repro:
* Turn on "advanced mode"
* Change the "Min output" for the Position gain (or any gain)
* Turn off "advanced mode"
* Click "send"
* Turn on "advanced mode" - notice that the parameters which were hidden are not sent

(This was particularly noticeable with a "load file" and then "send", where the values of the file are not actually on the module as expected after this operation)

[2018-11-09 10:48] ennerf commented on #52
It's not a bug, it's a feature!

I don't think it should send anything that the user isn't aware of. I was planning on making this more obvious with #3.

Do you think that'd work well enough?

[2018-11-09 11:34] ennerf commented on #40
I thought OSX was correct. Should it be hebi-scope-1.0-macOS64 ?

[2018-11-09 12:15] ennerf commented on #44
Once we upgrade, we can also remove the tooltip hack required for https://stackoverflow.com/a/43291239/3574093

[2018-11-09 13:55] ennerf commented on #49
Made it persistent. I often switch between different DPI scales at conferences, when I'm explaining something, and when I look at a single vs multiple plots. Unless we find a better use for the space, I'd vote for not moving it to settings.

[2018-11-09 13:56] ennerf commented on #27
lost the ability to reproduce. not sure what I did

[2018-11-09 14:54] ennerf commented on #52
After further discussion, we will probably change it to send hidden fields as well.

[2018-11-09 17:03] ennerf commented on #52
Should be fixed in 1.0.1-SNAPSHOT. Please confirm

[2018-11-09 17:05] ennerf commented on #50
Issue may be fixed in latest snapshot. Please try again.

[2018-11-09 17:05] ennerf commented on #49
Fixed in snapshot. Please confirm.

[2018-11-09 17:07] ennerf commented on #39
Jan made buttons stable. I'll create a separate issue for the key combos

[2018-11-09 17:08] ennerf opened #53 "Add keyboard combos for gains tab"
Related to #39 regarding key combos. Maybe as below?

* `ctrl+s` -> save
* `ctrl+d` -> clear
* `ctrl+f` -> send
* `ctrl+g` -> load default gains

[2018-11-09 17:10] ennerf commented on #27
Likely fixed. @daverolli please confirm

[2018-11-09 17:11] ennerf commented on #26
![image](https://user-images.githubusercontent.com/5491587/48277382-d0682880-e44a-11e8-9623-39aa038f7019.png)

Now all leds are grey and the box around it is disabled

[2018-11-09 17:13] ennerf commented on #22
Partially fixed in snapshot. Unlabeled buttons now have a tooltip

![image](https://user-images.githubusercontent.com/5491587/48277474-1624f100-e44b-11e8-9db6-25a623e89f98.png)

[2018-11-09 17:15] ennerf opened #54 "Add icon"
The old red/white icon doesn't match the design that well anymore. Maybe think about an alternative.

[2018-11-09 21:21] daverolli commented on #52
Confirmed that it works in macOS / Windows

[2018-11-09 21:24] daverolli commented on #50
Problem is still there.  No change.  FWIW I was running from the .jar file since the macOS packaged version wasn't built.

[2018-11-09 21:26] daverolli commented on #49
Confirm fixed in macOS and Windows.  Love it!

[2018-11-09 21:28] daverolli commented on #41
Yup.  Fixed in macOS and Windows.

[2018-11-09 21:29] daverolli commented on #39
Yup.  Buttons are stable at the top on macOS and Windows

[2018-11-09 21:30] daverolli commented on #27
Same issue as before in macOS.  I also can't reproduce in Windows.

[2018-11-09 21:40] daverolli commented on #26
Works as described on macOS and Windows.  I'm not sure I understood what you mean by "too difficult to see if modules were on the network".  I like having the info still be readable on the Dashboard Tab like you have now.  Might be good if the action buttons on the Dashboard are disables, like the options are when you right-click.

Having the Monitoring / Gains Tabs still be active seems a little

[2018-11-09 21:53] daverolli commented on #8
Very cool.  It'd be cool to have at least a generic image for a mobile device.  Some flat thing with a touch-screen.  Crazy would be having an image of the actual device, or at least different ones for phones / tablets.

[2018-11-09 21:54] daverolli commented on #8
I'll see if I can get a wireframe of a phone that looks similar to the angle / view of the modules.

[2018-11-12 11:18] ennerf commented on #26
My initial "fix" greyed out everything in the GUI even if there is no selection. That made it really difficult to read through the UI if e.g. someone would take a look at Scope before having modules.

As mentioned on Slack, parts of the monitoring tab (e.g. frequency slider and close-all button) can still be used even if the currently focused module is stale. Gains etc. can also still be saved. No

[2018-11-12 11:18] #52 closed, assigned to nobody

[2018-11-12 11:19] #49 closed, assigned to six7, ennerf

[2018-11-12 11:19] #41 closed, assigned to six7, ennerf

[2018-11-12 11:19] #39 closed, assigned to ennerf

[2018-11-12 11:26] ennerf opened #55 "Load defaults in worker task"
The load-defaults button in Gains makes the UI halt for a bit. The downloading should be done in a background worker thread rather than the UI thread.

[2018-11-12 11:58] ennerf commented on #47
The slider got updated to effort fbk, and on `DIRECT_PWM` it stopped updating. I changed it to move the slider to zero after switching.

[2018-11-12 12:29] ennerf commented on #46
I think I found the issue. Fixed in snapshot. Please confirm.

[2018-11-13 00:09] daverolli commented on #53
I think those would be good.

[2018-11-16 12:20] ennerf opened #56 "Fix static/dhcp mode switch"
Setting a static netmask via entering it in the field results in the field not being properly updated. Changing static/dhcp via the context menu seems to update the fields as expected.

[2018-11-16 19:48] ennerf opened #57 "Lower default range of position slider"
At the moment it defaults to +/- 4 rotations, which matches the absolute multi-turn encoding. However, this doesn't make sense for a lot of kits, so we may want to lower the default range.

Now that we have safety limits, we may also want to base the sliders off of those rather than the gains. Maybe first check safety limits, then gains, then defaults?

[2018-11-27 14:35] daverolli commented on #22
I like these a lot.  Maybe make the descriptions a little more clear.

For the Plot Freq / Command Sliders I would suggest:
* Set specific --> Set Specific Value or (this is closer to what dialog box that pops up is titles)

For the Position / Effort Reference Points
* Set current --> Get Current Value

[2018-11-27 14:46] daverolli commented on #40
Yup.  It should be just be macOS.  You can put the 64, but 32-bit support gets dropped next year.

[2018-11-27 14:50] daverolli commented on #57
I think going off of limits / then gains / then fallback defaults is a good idea.

[2018-11-27 14:54] daverolli opened #58 "Re-arrange buttons on Monitoring Tab"
The old layout of buttons for plotting was a little more intuitive.  In particular Position/Velocity/Effort buttons were grouped vertically, Gyro/Accel were paired vertically, Voltage/Current were paired vertically.

[2018-11-28 15:45] ennerf commented on #58
changed layout to

![image](https://user-images.githubusercontent.com/5491587/49163431-592d0280-f32d-11e8-9fc5-7a30df59567d.png)

[2018-11-28 15:50] ennerf commented on #58
I could go either way on switching PWM and Temperature, but I think this way fits a bit better visually

[2018-11-28 15:50] #58 closed, assigned to ennerf

[2018-11-28 16:08] ennerf commented on #57
Added it and reduced default positon range to +/- 2 rotations

[2018-11-28 16:08] #57 closed, assigned to nobody

[2018-11-28 16:35] ennerf commented on #22
How about `Set Specific Value...` and `Get Feedback Value` (or `Copy Feedback Value`) ? 'current' is already a bit of an overloaded term

[2018-11-28 19:27] ennerf commented on #40
released

[2018-11-28 19:27] #40 closed, assigned to ennerf

[2018-11-28 19:28] ennerf commented on #46
Fixed in 1.1 release

[2018-11-28 19:28] #46 closed, assigned to ennerf

[2018-11-28 19:29] ennerf commented on #47
Released in 1.1

[2018-11-28 19:29] #47 closed, assigned to ennerf

[2018-11-28 20:06] daverolli opened #59 "Make plotting button locations consistent across Actuator / Mobile Tabs"
Some of the plotting buttons are common to the Actuator and Mobile views on the Monitoring Tab.  For example, Latency / Packet Loss, Accelerometer / Gyro.

It would be good if the location of buttons stayed in consistent places if they're common to both.

[2018-12-10 18:26] daverolli opened #60 "Plots always start with 'auto' time scale on restart."
We added the feature to remember the `PPI` and `Time` settings and use them the next time Scope gets restarted.  The values in the drop-downs fill in correctly, and the PPI does set correctly, but the plots still start up in `Auto` mode.  Switching to another value for `Time` in the drop-down sets correctly.

[2018-12-10 19:15] ennerf commented on #60
Thanks. Fixed it.

[2018-12-10 19:23] ennerf commented on #59
Thanks. Fixed.

[2018-12-12 16:34] ennerf opened #61 "Rename "Send File" Button"
The name is still unclear. Maybe we should call it `Group Send` ?

[2018-12-12 16:36] ennerf opened #62 "Add M-Stop (or OFF?) Button"
For customers that aren't using a physical button, it'd be great if there were a capability to cause an M-Stop by pressing a button in Scope.

[2018-12-12 18:13] ennerf commented on #62
Maybe have an `OFF` Action that sends control strategy = off to all selected modules

[2019-01-04 14:54] #60 closed, assigned to ennerf

[2019-01-08 13:54] #54 closed, assigned to six7

[2019-01-12 18:17] ennerf commented on #56
Removed feature entirely. It makes it too easy to accidentally set a static IP

[2019-01-12 18:17] #56 closed, assigned to ennerf

[2019-01-14 16:11] ethanschumannHEBI opened #63 "Renaming Family and Name"
Renaming the family and name without pressing enter doesn't actually send the new family and name to the module. Possibly have it send after the user clicks out of the text box or have it revert back to the previous name.

[2019-01-14 16:17] daverolli commented on #63
Or maybe have some sort of prompt or mouse-over that explains that you need to hit enter?  Not sure.

[2019-01-21 16:49] #59 closed, assigned to daverolli, ennerf

[2019-01-21 16:49] ennerf commented on #8
Jan added a graphic for phones

[2019-01-21 16:49] #8 closed

[2019-01-21 16:50] ennerf commented on #51
This feature was removed, so it doesn't apply anymore

[2019-01-21 16:50] #51 closed, assigned to nobody

[2019-02-01 21:57] ennerf opened #64 "Add confirmation when updating all modules"
Update All should require some user consent.

[2019-02-13 20:05] ennerf opened #65 "Add button to set Mobile accelerometer mode"
allow switching between raw and filtered linear acceleration mode

[2019-02-28 17:57] iamtesch opened #66 "Text fields don't reset or send information on cancel"
When you edit the name (or family) in the text boxes in the dashboard/monitoring/etc pages, and then click outside the box, the name doesn't get set on the module _or_ reset the text box.  Navigating to a different tab changes the text back to its original value, but only on the new tab -- if you go back to the original tab, it is still changed with the edited text.  This state remains even if you

[2019-03-26 15:19] iamtesch opened #67 "Scope startup speed - splash screen"
It can take a long time (>4 or 5 seconds) for Scope to start up, and I (and others) frequently start Scope up twice after waiting and thinking we didn't click correctly.

As a workaround, I wondered if it might be possible to have a splash screen quickly pop up to prevent the perception that the app is not starting?

[2019-03-26 15:21] iamtesch opened #68 "Scope - linux performance"
At a recent customer visit, running Scope froze the customer's system and made it unresponsive (on Ubuntu 16.04).  Is there any way to limit the memory usage or CPU usage to prevent such issues?  Or somehow optimize the usage of system resources more?

I recognize this is more of a long term issue, I just want to make sure we have an issue open so we can track discussion/thoughts as to this, and d

[2019-03-26 17:35] iamtesch opened #69 "selection colors are really hard to see"
On some monitors, the "multiselected" modules on the left side aren't visible at all.  The shades of grey between selected/multiselected/not selected on the left side are difficult to see between.

[2019-03-26 17:36] iamtesch opened #70 "interface "refresh" icon looks like it is disabled"
Feedback from a customer that the interface "refresh" icon looks like it is disabled; this goes along with issue #69 in terms of overall greys used in the app are hard to see

[2019-03-26 17:37] iamtesch opened #71 "Gains currently on the module are hard to read"
Along with issues #69 and #70, the greys on the "gains" tab for gains currently on the module do not have much contrast with the background.

[2019-04-05 15:20] ennerf commented on #68
As Daniel mentioned, this is probably related the bug in the MESA driver on older versions of Linux. See #38 for details.

There is a switch in the settings dialog to enable software rendering to work around this memory leak issue. Please check with the customer and see if it still happens after enabling software rendering and restarting Scope.

[2019-04-05 16:29] rLinks234 commented on #68
I actually didn't think of this - you can download newer versions of `mesa` through ppa's. That is another suggested workaround on older/slower computers which may not like having to do software rendering. I'd be willing to type up a small piece of documentation to suggest this if you would find it to be useful, @ennerf ?

[2019-04-30 00:28] daverolli opened #72 "Provide some example custom plots with packaged Scope"
It might be nice to have a couple examples of some custom plots to get people started.

[2019-04-30 08:11] ennerf commented on #72
There are examples for the xml content on the docs page. Do you want to add links to make them downloadable as xml files, or are you referring to shipping Scope with example custom plots?

![image](https://user-images.githubusercontent.com/5491587/56948343-28493780-6b30-11e9-8393-54b8a53099d4.png)

[2019-05-01 09:48] ennerf opened #73 "Special case Software rendering for 16.04"
Related to #33. We changed the default to use hardware acceleration, but there are still plenty of users who use 16.04 and are running into the memory leak issue.

It's ok to keep the default to be accelerated, but at least 16.04 should be special cased to software mode.

[2019-05-01 15:11] rLinks234 commented on #73
If you get the OpenGL profile version string, it will tell you which version of Mesa they are using. For example, my Fedora 29 machine returns `4.5 (Core Profile) Mesa 18.3.6`

I'm looking for the freedesktop bug report related to this issue and will let you know which specific version was fixed. Any version after said issue was fixed shouldn't have any issues with hw acceleration enabled by defau

[2019-05-01 15:40] rLinks234 commented on #73
If I were to guess which issue we're talking about here, it would be related to this JFX issue (there are probably some duplicates, but this has the most relevant info):

https://bugs.openjdk.java.net/browse/JDK-8161997

As the reporter mentioned, the problem is within the native method `Java_com_sun_prism_es2_X11GLContext_nMakeCurrent `. This corresponds to making the GLX (X11 GL context) current

[2019-05-01 17:39] ennerf commented on #73
Thanks! Do you also happen to know how I can read the OpenGL profile version String?

[2019-05-09 11:53] ennerf opened #74 "Show real device address?"
At the moment the Scope Dashboard shows the information that is sent via the protocol, but the ip address may differ from the actual IP. For example, a mobile app may report the WiFi IP address even though it is actually addressed throught a Wired IP address.

It may make sense to add another `Device Address` field that shows the actual device coordinates including sub address (and port?).

[2019-05-09 15:34] ennerf commented on #72
Sorry, didn't realize it was in the title. Do you have any specific plots in mind?

[2019-05-13 16:58] ennerf commented on #44
It looks like the ProGuard Maven Plugin now has a workaround.

The Javapackager was completely removed from JDK 12, so it'd have to be built with a previous version (e.g. JDK 10 packager executable). With that in mind, it may make sense to remove the maven plugin and to separate out this step so we can finally update.

[2019-05-13 17:01] ennerf commented on #67
This may work https://stackoverflow.com/a/39132763

[2019-05-13 17:07] ennerf commented on #44
JavaFX 12+ has a new maven plugin and can be used like a library

[Getting Started](https://openjfx.io/openjfx-docs/#maven)
[Maven plugin for javaFX 11+](https://github.com/openjfx/javafx-maven-plugin)

[2019-05-15 16:01] ennerf commented on #68
Another note that may result in some improvements. JavaFX 8 linked against GTK2 by default, and JavaFX 11 changed it to GTK3. However, there are some flags to force GTK3 in older versions as well.

https://stackoverflow.com/a/22457177

Add flags to `Scope.cfg`

![image](https://user-images.githubusercontent.com/5491587/57790634-6f901480-773b-11e9-968b-8f30b589c434.png)

I didn't notice anything im

[2019-05-16 11:00] ennerf commented on #72
added to `1.4`

[2019-05-16 11:00] #72 closed, assigned to nobody

[2019-06-10 20:02] iamtesch opened #75 "Scope - persist buttons + toggles"
Issues that came up from customer feedback today
- [x] The "persist" button on the dashboard should probably be removed; it is unintuitive because there is nothing on this pane which doesn't already persist when it is set
- [x] The 'persist sends' toggle state should probably not be saved between reboots.  This makes it easy to accidentally persist sends the next time you have the GUI open, especi

[2019-06-10 20:05] iamtesch opened #76 "Make "set position/effort" pane in dashboard much more dangerous looking"
Issues that came up from customer feedback today

It is easy to change the user offset of the module when exploring the GUI, and not realizing the effect it has.

Some ideas:
- When toggled, potentially have a warning dialog.
- Have a background on the pane that is red or orange.
- Have a "warning" icon on the pane
- Have an "are you sure" dialog _every time_ you press "send" for the user offset /

[2019-06-10 20:07] iamtesch opened #77 "Discoverability: tooltips in Scope"
Issues that came up from customer feedback today

Adding mouseover text to a number of the options in Scope would make the tool more discoverable.  Especially for concepts like "persist", or "command lifetime", which are not perfectly clear from their names, this would help a user play around with Scope with a little more guidance.

[2019-06-10 20:10] iamtesch opened #78 "Module state"
Issues that came up from customer feedback today

- Previous versions of Scope had the current LED color visible somewhere in the GUI.  This was a useful feature for quickly checking the general state of each module without looking at the LEDs individually, or reading through all the module state on each one
- The "Locked" status field could probably be renamed to something a little more clear --

[2019-06-10 20:12] iamtesch opened #79 "Text color - gains"
This is minor, but should be a one-line CSS fix.

The "currently on the module" gains and safety parameters are in a grey color that is not very high-contrast to the background behind it.  Could this text be darker (even black would be fine) to make it more visible?

[2019-06-13 18:20] curtishebi opened #80 "Issues with touch screen on screen keyboard on Ubuntu"
I am using a 1280x800 touch screen with Ubuntu 18.04. There are a few issues that all seem related to the on screen keyboard. First of all, if I click any of the plotting buttons it will pop up the plot but also pop up the keyboard. This will sometimes cause the windows to shift up - if they do they will not return to their correct position.

Also, it is very easy to click on the large module name

[2019-06-17 14:05] ennerf commented on #77
Where does Scope use the concept of "command lifetime"? Scope always sends zero lifetime and there is no way to change it.

I agree with persist. What other things do you think need a mouseover?

[2019-06-17 14:27] ennerf commented on #78
* I always thought the LED color mapping looks a bit weird. Is there any state that can't be determined by a quick look at the Dashboard status overview? aside from searching-for-ip, which we can't display in any case. (Note: I'm not opposed to adding it, but I want to know what's unclear about the current overview)

* renamed status to "COMMAND LOCK"

[2019-06-17 14:33] iamtesch commented on #77
As many places as possible, honestly.

As for the "command lifetime", sorry I was unclear -- I was referring to the state feedback for command lifetime/lockout.  Right now, it just has this under "Locked":
![lockes_state](https://user-images.githubusercontent.com/16693168/59611799-014bc280-90ea-11e9-8767-d70a13200796.png)

But for a list of some places where I think tooltips could be good from a q

[2019-06-17 14:52] ennerf commented on #63
Removed functionality for now

[2019-06-17 14:52] #63 closed, assigned to six7, daverolli, ennerf

[2019-06-17 14:53] ennerf commented on #66
removed renaming functionality via text fields

[2019-06-17 14:53] #66 closed, assigned to ennerf

[2019-06-17 14:54] ennerf commented on #80
the editable family/name were removed. will look into other issues when I get the test display

[2019-06-17 15:17] ennerf commented on #75
Removed the persist button from Dashboard. The idea was that users should be able to persist without having to go to Gains and send a dummy message with the persist flag on. Considering that (1) many things auto-persist now, and (2) we are moving away from persisted gains towards loading them each run I think removing it makes sense

[2019-06-17 15:28] ennerf commented on #75
Removed persisting behavior from the dashboard and monitoring toggle

[2019-06-17 15:28] #75 closed, assigned to ennerf

[2019-06-17 15:34] iamtesch commented on #78
The dashboard status overview technically gives everything except for a manually set color (e.g., if this was set from a different piece of code, or from the "set LED red" button in scope).  However, it is still a lot more visual state to parse -- you are going through a lot of individual text fields instead of one LED image if you are, say, scanning through each module.

@daverolli had asked if w

[2019-06-17 18:17] daverolli commented on #78
There are a couple uses.

- In one case when you set LED color, either from Scope or in the API, you can't tab thru the modules and see which ones are set vs cleared.
- There are some internal states that don't show up, like actuators where effort isn't calibrated.

[2019-06-17 18:19] daverolli opened #81 "Link to issue tracker on Welcome page"
Maybe put a link to the Github issue tracker on the Welcome page?  Maybe below the link to docs.hebi.us.

[2019-06-17 19:40] rLinks234 opened #82 "Keeping plot open consumes unbounded memory"
I've noticed this before when having a plot open for an extended period of time (tens of minutes to hours), which I imagine may be a common thing for users.

After about 3 hours of Scope having only 1 plot open (position plot of some module not moving at all), Scope is utilizing 1,678 MiB of **resident** (not virtual) memory. I frequently checked the memory usage, along with the `/proc/<pid>/smaps

[2019-06-18 13:09] ennerf commented on #76
* added "are you sure" dialog

[2019-06-18 17:22] #26 closed

[2019-06-18 17:23] ennerf commented on #24
Available via custom xml  plots

[2019-06-18 17:23] #24 closed

[2019-06-18 17:28] ennerf commented on #22
Fixed, but #77 adds more.

[2019-06-18 17:28] #22 closed

[2019-06-18 17:28] ennerf opened #83 "Small Design Change Summary"
Below is a list of minor design changes that are currently listed in separate issues. This summary is intended to save some time looking for them.

**Welcome Page**
- [x] Add a link to Github issue tracker. Maybe below the link to docs.hebi.us (ref #81)

**Dashboard**
- [x] Make params section more dangerous looking (ref #76)

**Monitoring**
- [x] Add button to set Mobile accelerometer mode (ref #

[2019-06-19 13:38] ennerf commented on #55
Turned it into a `CompletableFuture`

[2019-06-19 13:38] #55 closed, assigned to nobody

[2019-06-19 15:44] ennerf commented on #64
Added user constent dialog

[2019-06-19 15:44] #64 closed, assigned to nobody

[2019-06-19 15:56] ennerf commented on #43
fixed in snapshot

[2019-06-19 15:56] #43 closed, assigned to ennerf

[2019-06-19 15:57] ennerf commented on #61
added a tooltip in #77 to make this more clear

[2019-06-19 15:57] #61 closed, assigned to nobody

[2019-06-20 16:31] ennerf commented on #74
Added `Device Address` field that shows the IP if it differs from the reported address

[2019-06-20 16:31] #74 closed, assigned to nobody

[2019-06-23 10:56] ennerf commented on #65
fixed in snapshot. For now only visible when hardware reports feedback about it

[2019-06-28 15:00] daverolli commented on #50
Problem still occurs in macOS in latest 1.5-SNAPSHOT.

[2019-06-28 15:45] rLinks234 commented on #73
The standard way would be to create an OpenGL context (GLX context) and query the renderer string. The quickest and most "light-weight" solution would be to create an offscreen OpenGL context through GLX and parse the string from `glGetString(GL_VERSION)`, while being careful to ignore any cases that aren't Mesa (there are some GL drivers not using Mesa - _e.g._, NVIDIA proprietary drivers).

The

[2019-07-02 08:34] ennerf commented on #50
Found solution in https://stackoverflow.com/a/27827033. Fixed it on my test mac

[2019-07-02 08:43] #83 closed, assigned to six7

[2019-07-02 08:45] #81 closed, assigned to nobody

[2019-07-02 08:45] #76 closed, assigned to six7, ennerf

[2019-07-02 08:45] #65 closed, assigned to nobody

[2019-07-02 08:45] #79 closed, assigned to nobody

[2019-07-02 08:45] #71 closed, assigned to six7

[2019-07-02 08:45] #69 closed, assigned to six7

[2019-07-02 08:45] #70 closed, assigned to six7

[2019-07-02 08:47] ennerf commented on #27
Still seems to be an issue

[2019-07-02 08:47] #78 closed, assigned to nobody

[2019-07-02 08:47] #42 closed, assigned to ennerf

[2019-07-02 08:48] #77 closed, assigned to daverolli, ennerf

[2019-07-02 08:48] #50 closed, assigned to ennerf

[2019-07-16 09:48] ennerf opened #84 "[Linux] Disabled font aliasing?"
@iamtesch reported `On linux, it looks like the antialiasing isn’t enabled on the fonts; this may be true for the entire GUI but is especially apparent with the background color on the tooltips`

I did find some hints related to the system properties `prism.text` and `prism.lcdtext`

* [How to force anti-aliasing in JavaFX fonts?](https://stackoverflow.com/questions/24254000/how-to-force-anti-alia

[2019-08-09 08:27] Giggus opened #85 "[Linux] Module discovery"
Hi,

I just received my new pc with Ubuntu 18.04.
My java version is openjdk 11.0.4.

When I plug the robot on the network I can find all hebi modules with my old laptop but, with the new one, I can only ping them but not visualize them on the Scope.

I also tried the old 1.14 Scope version but I still don't see hebi motors.

Can you please help me with this?

[2019-08-09 09:00] ennerf commented on #85
Hi,

Scope is not compatible with OpenJDK 11 due to some backwards incompatible changes in Java 9, and because it requires JavaFX / OpenJFX.

Please try the standalone version from our [docs page](http://docs.hebi.us/downloads_changelogs.html). It includes an appropriate runtime with all dependencies.

![image](https://user-images.githubusercontent.com/5491587/62767529-31359780-ba95-11e9-8391-697a

[2019-08-09 09:08] ennerf commented on #85
I just saw that the documentation was incorrect.

![image](https://user-images.githubusercontent.com/5491587/62767826-c9cc1780-ba95-11e9-8d94-7b67e848667e.png)

I have updated it to the following:

![image](https://user-images.githubusercontent.com/5491587/62767871-e10b0500-ba95-11e9-88ea-2cde544abb8b.png)

[2019-08-09 09:29] Giggus commented on #85
that at least explains why ! Thanks for the reply.. I'll use another laptop for the moment.

[2019-08-09 13:58] Giggus commented on #85
I actually tried with another Ubuntu 18.04 which has Java 11 and it does work.
I am wondering why on the other platform it doesn't. Are there any other dependencies?

[2019-08-09 14:13] rLinks234 commented on #85
@Giggus , have you done any modifications to your firewall configuration? Even if not, that may still be the issue.

---

Assuming you didn't customize your Ubuntu 18.04 install:

Try disabling your firewall (temporarily) in a console by doing

[code]

Make sure to re-enable `ufw` after testing in Scope! (`sudo ufw enable`)

---

If this allows you to see the modules in Scope, then you will need t

[2019-08-13 08:10] Giggus commented on #85
It actually works if I disable the firewall!! But the `sudo ufw allow 16665/udp` doesn't make the job once I re-enable the firewall.

To avoid to disable the firewall do you have any others idea to allow the connection with Scope and HEBI motors?

Thanks!

[2019-08-13 13:32] rLinks234 commented on #85
I believe that there are additional firewall rules to add to what I mentioned above, @Giggus . It basically comes down to the fact that module discovery requires sending out broadcast packets to the modules.

EDIT: I typed out a message which was incorrect. I will respond with a (valid) workaround shortly

[2019-08-19 14:59] rLinks234 commented on #85
@Giggus , I apologize for the delay. Try adding these rules to `ufw` and let me know if it resolves your issues:

[code]

---

Above, you can determine each `ETH_SUBNET` (you may have more than one if you have multiple ethernet cables/networks on your workstation) by executing `ip a` in a terminal. For example,

[code]

`ETH_SUBNET` from above would be `10.10.10.0/24`. Most subnets are in the `192

[2019-09-05 12:54] ennerf commented on #82
It looks like it's fixed in OpenJFX 12

[2019-09-05 13:41] rLinks234 commented on #82
I still need to re-run this before confirming

[2019-09-18 16:52] ennerf commented on #85
Given that there has been no response I assume that this issue has been resolved.

[2019-09-18 16:52] #85 closed, assigned to nobody

[2019-09-18 16:56] ennerf commented on #18
Could potentially be fixed with [ResourceHacker](http://www.angusj.com/resourcehacker/), which can change the properties of an existing .exe.

[2019-09-18 16:58] ennerf commented on #45
Snapshot switched to [ChartFx](https://github.com/GSI-CS-CO/chart-fx) and Java 13

[2019-09-18 17:00] ennerf commented on #73
Snapshot uses OpenJFX 13, which may have gotten rid of this issue

[2019-09-24 01:06] daverolli opened #86 "Top Navigation Bars sometimes getting hidden."
Scope, title bar sometimes got buried
- Shrink screen so you have to scroll
- Go to gains tab
- Change a value.
- When buttons highlight in yellow, the nav tabs at the top get buried.

Reproducible in Windows and macOS

[2019-09-24 01:35] daverolli commented on #86
Settings button in lower-left also got buried at one point, with no ability to get it back.  Not sure how to reproduce though.  It was happening on a Dell laptop with somewhat lo-res screen running Windows.

[2019-10-01 17:00] daverolli commented on #86
Looks like the lower-left issue comes from the same 'enter a gains value' error that can bury the top menu.  Reproducible in Windows and macOS.

[2019-10-04 11:04] ennerf opened #87 "Add a way to pause plots"
On JChart2D a single click used to do a full-screen zoom. This was a bug, but it turned out useful because it effectively paused live plots wherever they were.

It'd be good if we could add this functionality again in some way. It probably can't be a single mouse click, so spacebar would probably be a good option.

Unfortunately, attempts to extend `Zoomer` or creating a new plugin failed for vari

[2019-10-04 11:34] ennerf commented on #87
For now the closest workaround is to press the middle-mouse button and pan for a tiny amount

[2019-10-07 17:13] ennerf opened #88 "Reduce memory usage"
Some customers run Scope on fairly old hardware with little RAM, so it'd be good to reduce the memory usage.

Some quick ideas include

* Reducing memory used for the communications stages
* Spawning the log-viewer in a separate runtime with a memory size that depends on the actual file size
* Not holding all log-viewer data in memory

[2019-10-14 13:56] ennerf commented on #35
This is an issue for Linux as well. May be related to initializing the communications?

[2019-10-15 09:33] #67 closed, assigned to ennerf

[2019-10-15 09:33] #45 closed, assigned to nobody

[2019-10-15 09:34] #44 closed, assigned to nobody

[2019-10-15 09:34] #68 closed, assigned to nobody

[2019-10-18 14:47] daverolli opened #89 "Zooming issues in new plots (Scope 1.6)"
When zooming in with the default drag-to-zoom more than once, an extra dashed line shows up after the second zoom.

When zooming in with the default drag-to-zoom more than once, the scale on the side does not update after the first zoom.

There also always seems to be a dashed line hidden at the bottom of the plot.  For example, when sending commands and that stopping, instead of disappearing the

[2019-10-18 15:37] ennerf commented on #89
Could you make screenshots?

[2019-10-18 16:23] daverolli commented on #89
https://www.dropbox.com/s/trvranyamissx4k/Scope1.6_PlottingIssues.mov?dl=0

Same issues on Windows.

[2019-11-07 01:35] ennerf opened #90 "Dashed lines are not getting rendered correctly (Scope 1.6)"
Dashed lines works when points are relatively far away (e.g. fast movements), but they look like a solid line when points are too close to each other.

![image](https://user-images.githubusercontent.com/5491587/68352552-bcc8ce00-0141-11ea-90fa-57f37f627b62.png)

[2019-11-07 05:57] RalphSteinhagen commented on #90
Commit GSI-CS-CO/chart-fx@b45abf7 addresses [Scope #90](https://github.com/HebiRobotics/hebi-scope-feedback/issues/90) and statements like `dataSet1.setStyle("strokeDashPattern= 25, 20, 5, 20;");`being now being correctly passed through to JavaFX's `GraphicsContext` rendering pipe-line.

[2019-11-07 06:16] RalphSteinhagen commented on #90
A small chart-fx example illustrating a (here deliberately exaggerated) '100-pixel dash, 100-pixel gap' dashed polyline over 1e6 points. The new algorithm draws dashes (when defined) acrossthe individual points and restarts only when NaN values are encountered.

![image](https://user-images.githubusercontent.com/46007894/68364305-d4965700-012d-11ea-801f-755fdea8ac90.png)

N.B. the blue curve has s

[2019-11-11 13:34] ennerf commented on #90
Thanks!

[2019-11-11 13:34] #90 closed, assigned to nobody

[2019-12-19 16:48] #82 closed, assigned to nobody

[2019-12-19 16:55] ennerf commented on #18
the new jpackager does this

[2020-01-15 16:45] ennerf opened #91 "LogViewer does not switch between charts when zoomed in"
* Select device + chart
* Zoom into chart
* Select different chart or device

**What is supposed to happen**
switch viewing area

**What happens**
nothing

[2020-01-15 16:58] rLinks234 commented on #91
I noticed this too on Linux - sorry I forgot to mention it or file a bug.

[2020-02-10 10:27] #89 closed, assigned to ennerf

[2020-02-14 14:36] ennerf commented on #91
This was a bug in chart-fx and got fixed in 11.1.2. See https://github.com/GSI-CS-CO/chart-fx/issues/78

[2020-02-14 14:36] #91 closed, assigned to nobody

[2020-03-30 22:37] josephcoombe opened #92 "Load Defaults - Error Window [Linux v1.6.1]"
Running Scope v1.6.1 on Ubuntu Ubuntu 18.04.4 LTS (HEBI Square Chassis).

Connected to internet via USB-to-Ethernet adapter (which I'm using to write this issue).

In the Gains tab, left-clicking **Load Defaults** produces this Error Window
![Screenshot from 2020-03-30 17-31-05](https://user-images.githubusercontent.com/12258096/77968496-18405780-72ad-11ea-965f-4fbb8c0d34b2.png)

[2020-03-31 10:08] ennerf commented on #92
Thanks for reporting this.

The files ultimately come from [https://docs.hebi.us/resources/gains/](https://docs.hebi.us/resources/gains/), which was recently changed to only accept `https`. The server has been updated and everything should be working again.

[2020-03-31 10:08] #92 closed, assigned to nobody

[2020-06-01 14:45] iamtesch opened #93 "convert log file button state"
The "save as" button doesn't always show up when converting logs.

Repro:
- press convert log button
- select log to convert
- change "view" to one of the right two buttons (e.g., not "full")
- change "format" to "csv"; the "save as" disappears.
- change "view" to the left button; "save as" is not reenabled.

You can change format back to "mat" and then "csv" to resolve, but ideally the "view" sel

[2020-06-01 15:15] ennerf commented on #93
Thanks for reporting this. Will be fixed next snapshot.

[2020-06-01 15:15] #93 closed, assigned to ennerf

[2021-06-18 13:16] ennerf opened #94 "Add setting to set path to custom plots"
Add a global setting that lets users choose where the xml files are stored

[2021-06-18 13:34] ennerf commented on #35
Solved in 1.6.4

[2021-06-18 13:34] #35 closed, assigned to daverolli, ennerf

[2021-06-18 13:36] #88 closed, assigned to nobody

[2021-06-18 13:36] #73 closed, assigned to nobody

[2021-07-16 15:18] iamtesch opened #95 "Write safety parameters along with gains XML export on modules"

[2021-08-19 14:55] #25 closed

[2021-08-19 14:55] #18 closed

[2021-08-19 14:56] #94 closed, assigned to nobody

[2021-09-17 15:58] ennerf opened #96 "custom charts : change reset icon"
The garbage looks scary. We should switch to the reload or circular-back-arrow symbols

[2021-09-17 16:04] daverolli commented on #96
![OscartheGrouch](https://user-images.githubusercontent.com/5423160/133819311-a826d337-777a-4d02-bd89-39ecc0bf9720.jpg)

[2021-09-17 17:55] daverolli opened #97 "Plots resize, even when set to 'fixed'"

[2021-09-17 17:56] daverolli commented on #97
When data exceeds the fixed range, the plot resizes.  When data is within the fixed range the scaling stays at the fixed range.

[2021-09-17 18:40] daverolli opened #98 "On plots, provide a buffer to readings that are near min / max"
Maybe just a 5% - 10% buffer of full scale would work.  That makes it easier to zoom in and see details in context.

[2021-09-17 18:42] daverolli opened #99 "Be able to toggle between absolute / signed error"
Sometimes you want to view error in signed terms, not just abs value.  Maybe if have it switch if you click the y-axis of the error?  Maybe just an option in "Settings"?  Low-ish priority since you can always just make a custom plot instead :-)

[2021-09-22 09:31] ennerf commented on #98
It should already be doing that. Can you provide more info on where you are encountering problems?

![image](https://user-images.githubusercontent.com/5491587/134319209-247958bf-81a1-44b8-acab-31357485bbe1.png)

[2021-09-22 09:49] ennerf commented on #99
👍

![image](https://user-images.githubusercontent.com/5491587/134323585-87bbe341-e4a9-4234-9a8b-27bc1bae6aad.png)

[2021-09-22 10:01] ennerf commented on #96
![image](https://user-images.githubusercontent.com/5491587/134324289-9c74eacc-d327-402b-b834-e1220c36e01b.png)

:+1:

[2021-09-22 10:01] #96 closed, assigned to nobody

[2021-09-22 10:14] #99 closed, assigned to nobody

[2021-09-22 12:27] daverolli commented on #98
To me, the bottom and top plots above both show the issue.

 The bottom is readings of the bottom plot are really close to the line.  The top plot gets so close to the top that the hidden ‘zoom’ tools pop down.

I guess what I’m asking for is a bigger buffer?  Or maybe have it based on a percentage of full scale range if it’s not already?

[2021-09-22 16:51] ennerf commented on #98
I tried to fix this, but ran into a library issue https://github.com/GSI-CS-CO/chart-fx/issues/465

[2021-09-23 15:09] ennerf commented on #98
Found a way to work around it and switched from 5% relative padding to 10% of the full range. How do you like this?

![image](https://user-images.githubusercontent.com/5491587/134533596-5cb2a34d-2001-439e-a02c-45253dd87045.png)

[2021-09-24 15:00] #98 closed, assigned to nobody

[2021-09-24 16:00] ennerf commented on #97
fixed in 1.7.1

[2021-09-24 16:00] #97 closed, assigned to ennerf

[2021-09-27 12:10] ennerf opened #100 "3D movements depend on frame rate"
The 3D movements advance by a set amount per frame, resulting in slow movements on slow computers. On Linux the movements are significantly faster than on Windows / macOS for some reason.

This should be changed to moving based on the time between frames.

[2021-10-04 14:42] ennerf opened #101 "Ability to launch dummy modules"
In combination with the visualization features it'd be nice to be able to launch a few dummy modules that are visible on the network and can be commanded from the APIs.

Maybe a button with a few options:

* Number of modules
* Initial family name
* Port, default vs custom

[2021-10-19 13:40] #101 closed, assigned to nobody

[2021-10-19 16:39] #100 closed, assigned to nobody

[2022-05-19 16:34] daverolli opened #102 "Window resize / cropping issue after yellow highlights"
After getting a box to highlight yellow to indicate a changed value, the window cropping when resizing not longer docks to the top, but becomes centered.  This can hide the top navigation bars on smaller (laptop) screens.

For example, it happens when you change gains for the first time. When the boxes go yellow to highlight changed gains, the windowing changes to being center-crop instead of bott

[2022-05-19 18:06] ennerf commented on #102
Apparently ControlsFX adds a `DecorationPane` to the root of the app that breaks the scrolling behavior. A quick search didn't reveal this as a known issue.

Hierarchy graph of gain buttons before:

[code]

and after something turns red/yellow:

[code]

[2022-05-19 18:16] ennerf commented on #102
The validator looks for a DecorationPane (StackPane) in the hierarchy and installs one at the root in case it can't find one. Manually adding a DecorationPane beneath the ScrollPane fixes it.

![image](https://user-images.githubusercontent.com/5491587/169371950-543f350b-6ba5-4802-8829-6db152a7b5a5.png)

[2022-05-19 18:25] ennerf commented on #102
added to 1.7.4

[2022-05-19 18:25] #102 closed, assigned to nobody

[2022-07-14 16:05] nick-hebi opened #103 "Ability to change plot width with custom plots"
Currently it is possible to set a default height range for the custom plots. It would be useful for debugging to set a width range as well (such as a maximum number of points for the plot).

[2022-08-12 14:19] nick-hebi opened #104 "Scope - Rolling Log"
It would be nice if there was an option for scope to keep a rolling log whenever it is started up. This feature would need to limit the total amount of log files by some predetermined time / file size window.

This would allow you to always have a log of the last day or so of activity without having to remember to hit the log button every time or to clear old logs manually.

[2022-08-12 15:00] ennerf commented on #104
For what purpose? Wouldn't this be better done through an API?

It would (1) be really difficult to sift through all that information and (2) would require lots of individual logs because there is no concept of "group".

[2022-08-12 15:12] nick-hebi commented on #104
The purpose would be mostly to monitor a specific module while doing firmware testing. It would be nice to have logging active all the time in case something unexpected happens. I only really need to monitor one thing at a time - I just want to not have to remember to press the log button every time I open scope.

It doesn't have to be fancy, just an option to always record specific modules. It co

[2022-08-12 15:43] ennerf commented on #104
To me that sounds more like an internal development feature that would be better solved with a commandline tool like `continuous_log  <frequency> <addresses>`.

That way you can put it in auto-start on boot and the frequency won't be impacted by e.g. plotting jitters.

[2022-08-19 15:29] iamtesch opened #105 "PWM monitoring panel adjustments"
From @HEBI-Willig :

It would be cool if an Actuator is in "Direct PWM" that the Scope Monitoring Sliders adjusted accordingly in that Position and Velocity went null or greyed out and the Effort slider actually renamed itself "PWM" and properly plotting command and feedback with the PWM signal to the motor. Just a thought for a nice tool for the future.

[2022-08-19 15:49] nick-hebi commented on #105
I think there was some minor confusion here on what direct PWM mode does. This mode is open loop so there isn't exactly a feedback value to be plotted. I am not sure what the best way to communicate this through the UI is - either to make the feedback value in the effort plot always match the commanded value or to eliminate the feedback value in the plot entirely.

[2022-08-19 15:50] nick-hebi commented on #105
I know this is enumerated in the documentation but it might be worth adding some sort of blurb or warning in the UI:
![image](https://user-images.githubusercontent.com/50836262/185657831-9c3e12fd-81f1-4cff-bef8-604acb3d4df3.png)

[2022-08-19 15:51] iamtesch commented on #105
My thoughts:

I'm less sure about the command and feedback plots changing here -- the PWM signal to the motor is different than the effort command even in direct PWM, b/c it is going through safety controllers.  Having both is useful

[2022-08-19 15:59] nick-hebi commented on #105
I think that the current plots are slightly confusing. If you put an actuator in direct PWM mode and command a PWM value it will show effort feedback (in Nm) alongside the PWM value (which is in duty cycle, but labeled as Nm).

![image](https://user-images.githubusercontent.com/50836262/185658847-b273bd23-833f-4423-bac3-cfd7ac93502c.png)

So in direct PWM mode it might make sense to change the Y a

[2022-08-19 16:00] nick-hebi commented on #105
Also that is an internal actuator with a messed up encoder so the effort readings are wonky - but the UI weirdness should be independent of that

[2022-08-19 16:01] #104 closed, assigned to nobody

[2022-08-19 16:01] ennerf commented on #105
Direct PWM already changes the slider to be -1 to +1 for that module. Changing the plot gets really tricky because (among other reasons) you can have multiple devices with different strategies on a single plot.

Having two different units makes no sense in any case, so maybe we should just completely disable the effort chart instead?

[2022-08-19 16:05] HEBI-Willig commented on #105
Fair points all around. Maybe just the first half at least then for the sliders (position and vel don't do anything anyways). And changing the label on Effort to PWM so it;s not confusing. This is obviously very very low priority as it's mainly an internal control strategy and 99.9% of customers shouldn't be using it.

[2022-08-19 16:07] nick-hebi commented on #105
Yeah I think just disabling the effort chart for modules in direct PWM mode is the best solution. Changing the name of the effort slider / disabling the other sliders would also be a nice to have if it isn't hard to do

[2022-11-02 15:17] ennerf commented on #36
Done.

[2022-11-02 15:17] #36 closed, assigned to nobody